<aside class="page__aside">
        <h2 class="page__aside--title">
            <code class="code">./src/sobre-mí/info.html</code>
        </h2>
        <div class="page__aside--box wrapper">
            <div class="page__aside--box--text">
               <p >Me defino como una aprendiz de la vida, soy responsable, 
                transparente y comprometida con lo que hago.
            </p>
            <p >Decidí dar un cambio en mi carrera profesional, saliendo de la  
                zona de confort y con muchas ganas de aportar creatividad e ideas con la tecnología como medio.
            </p>
            <p >Defiendo que los resultados son mejores cuantas más  
                perspectivas contemplan
            </p>
            <p >Como programadora, tengo un perfil junior y muchas ganas de
                seguir aprendiendo, buscando la máxima calidad en el código para que todas las partes salgamos ganando. 
            </p>  
            </div>
            <!-- <div class="page__aside--box--empty">

            </div> -->
        </div>
</aside>