<aside class="page__aside" id="about">
    <div class="page__aside--figure">
           <div class="item-1"></div>
           <div class="item-2"></div>
           <div class="item-3"></div>
           <div class="item-4 "></div>
           <div class="item-5"></div>
           <div class="item-6"></div>
           <div class="item-7"></div>
           <div class="item-8"></div>
           <div class="item-9"></div>
    </div>
    <div class="page__aside--box  wrapper">
        <h2 class="page__aside--box--title">
            <code class="code2">./src/sobre-mí/info.html</code>
        </h2>
        <div class="page__aside--box--text">
                <p > Me llamo Ana y esta web es para mostrar mis proyectos como programadora.
                </p>
                <p >Decidí comenzar a estudiar desarrollo front-end, proveniente de otro sector profesional, y tengo muchas ganas de aprender y mejorar.
                </p> 
                <p >Como programadora, tengo un perfil junior, cada día me enfrento a nuevos retos y mi objetivo es poder dedicarme profesionalmente a ello.
                </p>
                <p > Me gusta trabajar en equipo, soy resolutiva, perseverante y responsable.
                </p>  
                <p > En la siguiente sección puedes ver las tecnologías con las que he realizado proyectos y, si crees que nos podemos ayudar, contacta conmigo.
                </p>  
        </div>
    </div>
</aside>