<header class="page__header wrapper">
  <nav class="page__header--nav ">
    <ul class="page__header--nav--items">
      <li>
        <include
          src="./link.html"
          aClass="link__primary"
          text="Contacto">
      </include>
      </li>
      <li>
        <include
          src="./link.html"
          aClass="link__primary"
          text="Contacto">
      </include>
      </li>
      <li>
        <include
          src="./link.html"
          aClass="link__primary"
          text="Contacto">
      </include>
      </li>
      
    </ul>
</nav>
</header>
