<header class="js-header " id="topHeader">
	<div class="hamburger js-hamburguer">
		<div class="_layer -top"></div>
		<div class="_layer -mid"></div>
		<div class="_layer -bottom"></div>
	</div>
  <nav class="menuppal wrapper">
    <ul class="menuppal__items">
      <li>
          <include
              src="./link.html"
              aClass="link__primary"
              text="Sobre mí"
              url="#about">
          </include>
      </li>
      <li>
          <include
              src="./link.html"
              aClass="link__primary"
              text="Tecnologías"
              url="#info">
          </include>
      </li>
      <li>
        <include
            src="./link.html"
            aClass="link__primary"
            text="Contacto"
            url="#footer"
            >
        </include>
      </li>
    </ul>
</nav>
</header>