<header class="page__header wrapper" id="topHeader">
  <nav class="page__header--nav ">
    <ul class="page__header--nav--items">
      <li>
        <include
          src="./link.html"
          aClass="link__primary"
          text="Sobre mí"
          url="#about">
      </include>
      </li>
      <li>
        <include
          src="./link.html"
          aClass="link__primary"
          text="Tecnologías"
          url="#info">
      </include>
      </li>
      <li>
        <include
        src="./link.html"
        aClass="link__primary"
        text="Contacto"
        url="#footer"
        >
    </include>
      </li>
      
    </ul>
</nav>
</header>
