<section class="page__info wrapper">
    <h3 class="page__info--title" id="info">
        <code class="code">./src/tecnologías/front-end.js</code>
    </h3>
    <ul class="tecnos" id="tecnos">
        <li id="tecno_0">
            <img src="../assets/images/logos/html.png" alt="" >
        </li>
        <li id="tecno_1">
            <img src="../assets/images/logos/css.png" alt="" >
        </li>
        <li id="tecno_2">
            <img src="../assets/images/logos/js.png" alt="" >
        </li>
        <li id="tecno_3">
            <img src="../assets/images/logos/angular.png" alt="" >
        </li>
        <li id="tecno_4">
            <img src="../assets/images/logos/ts.png" alt="" >
        </li>
        <li id="tecno_5">
            <img src="../assets/images/logos/bootstrap.png" alt="" >
        </li>
        <li id="tecno_6">
            <img src="../assets/images/logos/ionic.png" alt="" >
        </li>
        <li id="tecno_7">
            <img src="../assets/images/logos/github.png" alt="" >
        </li>
        <li id="tecno_8">
            <img src="../assets/images/logos/git.png" alt="" >
        </li>
        <li id="tecno_9">
            <img src="../assets/images/logos/trello.png" alt="" >
        </li>
        <li id="tecno_10">
            <img src="../assets/images/logos/node.png" alt="" >
        </li>
        <li id="tecno_11">
            <img src="../assets/images/logos/sass.png" alt="" >
        </li>
        <li id="tecno_12">
            <img src="../assets/images/logos/slack.png" alt="" >
        </li>
    </ul>
</section>