<section class="page__info wrapper">
    <h3 class="page__info--title" id="info">
        <code class="code">./src/tecnologías/front-end.js</code>
    </h3>
    <ul class="tecnos" id="tecnos">
        <li id="tecno_0">
            <img src="./assets/images/logos/html.png" alt="logo html" >
        </li>
        <li id="tecno_1">
            <img src="./assets/images/logos/css.png" alt="logo css" >
        </li>
        <li id="tecno_2">
            <img src="./assets/images/logos/js.png" alt="logo js" >
        </li>
        <li id="tecno_3">
            <img src="./assets/images/logos/angular.png" alt="logo angular" >
        </li>
        <li id="tecno_4">
            <img src="./assets/images/logos/ts.png" alt="logo ts " >
        </li>
        <li id="tecno_5">
            <img src="./assets/images/logos/bootstrap.png" alt="logo bootstrap " >
        </li>
        <li id="tecno_6">
            <img src="./assets/images/logos/ionic.png" alt="logo ionic" >
        </li>
        <li id="tecno_7">
            <img src="./assets/images/logos/github.png" alt="logo github" >
        </li>
        <li id="tecno_8">
            <img src="./assets/images/logos/git.png" alt="logo git " >
        </li>
        <li id="tecno_9">
            <img src="./assets/images/logos/trello.png" alt="logo trello" >
        </li>
        <li id="tecno_10">
            <img src="./assets/images/logos/node.png" alt="logo node" >
        </li>
        <li id="tecno_11">
            <img src="./assets/images/logos/sass.png" alt="logo sass" >
        </li>
        <li id="tecno_12">
            <img src="./assets/images/logos/slack.png" alt="logo slack" >
        </li>
    </ul>
</section>