<main class="page__main wrapper">
  <h1 class="page__main--title">
      <code class="code">./src/proyectos-realizados/proyectos.html</code>
  </h1>
  <ul class="page__main--list" id="cards">
    <li id="card_0">
        <p>
          Lisa Simpson
        </p>
        <img src="./assets/images/lisa-simpson.jpg" alt=""  width="200" height="200">
    </li>
    <li id="card_1">
        <p>
          Lisa Simpson
        </p>
        <img src="./assets/images/masterCard.png" alt=""  width="200" height="200">
    </li>
    <li id="card_2">
        <p>
          Lisa Simpson
        </p>
        <img src="./assets/images/perfil.jpg" alt=""  width="200" height="200">
    </li>
    <li id="card_3">
        <p>
          Lisa Simpson
        </p>
        <img src="./assets/images/perfil2.jpg" alt=""  width="200" height="200">
    </li>
  </ul>
</main>
