 <main class="page__main wrapper" id="mainId">
  <h1 class="page__main--title">
      <code class="code">./src/proyectos-realizados/proyectos.html</code>
  </h1>
  <ul id="cards">
    <li class="card" id="card_1">
      <include
        src="./card.html"
        title="Github Finder"
        text="App web diseñada con Angular. Permite buscar dentro de un reporitorio de Github, devolviendo un listado de issues"
        link="https://github.com/Analo-pez/app-angular"
        urlWeb="https://analo-pez.github.io/app-angular/"
        urlImg="./assets/images/projects/issues.png">
      </include>      
    </li>
    <li class="card" id="card_2">
      <include
      src="./card.html"
      title="Characters Rick y Morty web"
      text="App web diseñada con React. Conectada a una API pública de personajes de la serie Rick y Morty"
      link="https://github.com/Analo-pez/Characters-Rick-y-Morty"
      urlWeb="http://analo-pez.github.io/Characters-Rick-y-Morty/"
      urlImg="./assets/images/projects/RickMorty.png">
    </include>  
    </li>
    <li class="card" id="card_3">
      <include
      src="./card.html"
      title="Portfolio profesional"
      text="¡Mi anterior portfolio! Realizado con React, en el que se implementa el uso de React Router"
      link="https://github.com/Analo-pez/Portfolio"
      urlWeb="https://analo-pez.github.io/Portfolio/"
      urlImg="./assets/images/projects/Portfolio.png">
    </include> 
    </li>
    <li class="card" id="card_4">
      <include
      src="./card.html"
      title="Chuck Norris Jokes"
      text="Las bromas sobre Chuck Norris, sólo si Chuck Norris las aprueba!! App que permite seleccionar una categoría y muestra una broma en pantalla."
      link="https://github.com/Analo-pez/Norris-app"
      urlWeb="https://analo-pez.github.io/Norris-app/"
      urlImg="./assets/images/projects/norris.png">
    </include> 
    </li>
    <li class="card" id="card_5">
      <include
      src="./card.html"
      title="Observable Card"
      text="Ejercicio realizado con Angular, utilizando observables para acceder a los datos de cada componente"
      link="https://github.com/Analo-pez/observable-card"
      urlWeb="https://analo-pez.github.io/observable-card/"
      urlImg="./assets/images/projects/observable.png">
    </include> 
    </li>
    <li class="card" id="card_6">
      <include
      src="./card.html"
      title="Star Wars App"
      text="Realizada con Angular, permite registrar usuarios y acceder con un login a la página de búsqueda de naves de Star Wars"
      link="https://github.com/Analo-pez/Star-wars"
      urlWeb="https://analo-pez.github.io/Star-wars/"
      urlImg="./assets/images/projects/stars.png">
    </include> 
    </li>
    <li class="card" id="card_7">
      <include
      src="./card.html"
      title="Rock Bands"
      text="App para gestionar tus bandas de rock favoritas, puedes eliminar y crear nuevas.  Conectado a servidor desarrollado con NodeJs, Express y bases de datos con SQLite"
      link="https://github.com/Analo-pez/Angular-Rocks"
      urlWeb="https://analo-pez.github.io/Angular-Rocks/"
      urlImg="./assets/images/projects/rocks.png">
    </include> 
    </li>
  </ul>
</main>