.page__aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary;
    height: 100vh;

    &--title{
    align-self: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    }
    &--box{
    display: flex;
    align-items: center;
    padding-bottom: 3em;
    
        &--text{
            line-height: 2;  
            text-align: center;
            @media all and (min-width: 768px) {
                font-size: 1.2em;
            }
        }
    }
  }

  