.page__header {
  display: flex;
  justify-content: center;
  height: 8vh;

  &--nav{
    display: flex;
    align-items: center;

    &--items{
      display: flex;
      flex-direction: row;   
      width: 65vw;
      justify-content: space-around;

    }
 
  }

}
