:root {
    --cover-size: 8rem;
  }
  
  @media (max-width: 800px) {
      :root {
            --cover-size: 6rem;
      }
  }
  @media (max-width: 500px) {
      :root {
            --cover-size: 3rem;
      }
  @media (max-width: 350px) {
      :root {
            --cover-size: 2.5rem;
      }
  }
}
 

  .page__info{
    display: flex;
    flex-direction: column;
    height: 70vh;
    @media (min-width: 768px) {
      height: 90vh;
      }
      &--title{
        align-self: center;
        padding-top: 3em;
        margin-bottom: 2em;
      }
  }
  
  .tecnos {
    overflow-y: hidden;
    white-space: nowrap;
    background-color: rgb(14, 12, 12);
  }
  
  .tecnos li {
    display: inline-block;
    width: var(--cover-size);
    height: var(--cover-size);
  }
  
  .tecnos li img {
    display: block;
    width: var(--cover-size);
    height: var(--cover-size);
    border: 1px solid green;
  }
  
  .tecnos {
    max-width: calc(var(--cover-size) * 5);
    margin: 0 auto;
    padding: calc(var(--cover-size) / 1.5) calc(50% - (var(--cover-size) / 2));
  }
  
